@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="@Url.Content("~/Content/themes/Blitzer/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/pnotify.custom.min.css")" rel="stylesheet" />
</head>
<body>
    <div>
        <input type="text" id="txtId" />
        <input type="password" id="txtPwd" />
        <button id="btnLogin">Login</button>
 
        @ViewBag.ss
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/Common")
        <script src="@Url.Content("~/Scripts/pnotify.custom.min.js")"></script>

        <script type="text/javascript">
            var Page = {
                Login: function () {
                    if (Utill.Nullcheck("txtId", "아이디를 넣어주세요.") && Utill.Nullcheck("txtPwd", "비밀번호를 넣어주세요.")) {
                        var data = Utill.Ajax("@Url.Action("LoginProc","User")", { id: $("#txtId").val(), pwd: TomochanSecurity.Encription($("#txtPwd").val()) });
                        if (data > 0) {
                            location.href = '@Url.Action("Menu", "System")';
                        }
                    }
                }
            }
            $(function () {
                $("#btnLogin").click(function () {
                    Page.Login();
                });
            });
        </script>
    </div>
</body>
</html>
