@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p><a href="#" onclick="Master.GotoPad();">Hims</a></p>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/Common")

        <script type="text/javascript">
        var Master = {
            GotoPad: function () {
                var url = '@Happy.Utility.WebUtill.GetAppSetting("HimsSite")';
                var data = Utill.Ajax('@Url.Action("Pad","Home")');
                url += "?param=" + TomochanSecurity.Encription(data);
                location.href = url;
            }
        }
        </script>

    </div>
</body>
</html>
